// Opacity.
@mixin opacity($arg) {
    @include prefixer(opacity, $arg, true);

    filter: "alpha(opacity=#{($arg * 100)})"#{$important};
}

// Text Overflow.
@mixin text-overflow {
    overflow: hidden#{$important};
    text-overflow: ellipsis#{$important};
    white-space: nowrap#{$important};
}
@mixin hyphens($value: auto) {
    @include prefixer(hyphens, $value, true);

    word-wrap: break-word#{$important};
}

// Clearfix.
@mixin clearfix {
    *zoom: 1#{$important};

    &:before, &:after { content: ""#{$important}; display: table#{$important}; }
    &:after { clear: both#{$important}; }
}

// Container.
@mixin container($arg: 960px 0 0) {
    width: 100%#{$important};
    max-width: #{nth($arg, 1)}#{$important};
    margin: 0 auto#{$important};

    @if (length($arg) >= 2) {
        padding-left: #{nth($arg, 2)}#{$important};
    }
    @if (length($arg) == 3) {
        padding-right: #{nth($arg, 3)}#{$important};
    }
}
